@import url(https://fonts.googleapis.com/css?family=Lato:400,400italic,700|Sansita+One);

:root {
    --primary-color: #9a99e8;
    --font-color: #424242;
    --bg-color: #fff;
    --heading-color: #7d7777;
}

[notetheme="Dark-mode"] {
    --primary-color: #9A97F3;
    --font-color: #e1e1ff;
    --bg-color: #161625;
    --heading-color: #818cab;
}

body {
    font-family: "Lato", sans-serif;
    background-color: var(--bg-color);
    color: var(--font-color);
    font-size: 16px;
}

.button {
    outline: none;
    border: 3px solid var(--primary-color);
    margin-top: 10px;
    min-height: 38px;
    min-width: 200px;
    background-color: transparent;
    color: var(--font-color);
    padding: 5px 10px;
    font-size: 16px;
    cursor: pointer;
}

input[type="date"]::-webkit-calendar-picker-indicator{
    background-image: url(../images/calendar.png);
    background-position: center;
    background-size: 20px 20px;
    background-repeat: no-repeat;
    color: rgba(204,204,204,0);
}

.selected{
    background: var(--primary-color);
}

.buttonExpand {
    position: absolute;
    float: right;
    outline: none;
    border: none;
    margin-top: 11px;
    margin-left: -39px;
    height: 43px;
    min-width: 39px;
}

.buttonEdit {
    margin-top: 30px;
    min-height: 50px;
    min-width: 50px;
}

.fullWith {
    min-width: 100%;
}
.right {
    float: right;
    /*margin-right: 10px;*/
}

.marginRight {
    margin-right: 10px;
}


.marginleft {
    margin-left: 10px;
}

.table {
    border-collapse: collapse;
    table-layout: auto;
    width: 100%;
}

.table tr td:first-child {
    min-width: 100px;
}
.table tr td:nth-child(2) {
    width: 80%;
}
.table tr td:last-child {
    width: 60px;
}

.title{
    vertical-align: middle;
    color: var(--heading-color);
}
.text {
    outline: none;
    min-width: 60%;
    background-color: transparent;
    color: var(--font-color);
    border: 3px solid var(--primary-color);
}

.textarea {
    height: 120px;
    background-color: transparent;
    color: var(--font-color);
    resize: none;
}


.marginTop {
    margin-top: 20px;
}
.label {
    min-width: 130px;
    display:inline-block;
    vertical-align: top;
}

.noteDescription {
    outline: none;
    background-color: transparent;
    border: 2px solid var(--primary-color);
    width: 100%;
    margin-top: 10px;
    display: inline-block;
    vertical-align: top;
    resize: none;
    padding-right:50px;
    height: 50px;
    overflow: hidden;
}

.importance {
    float: right;
    text-align: right;
}

/* todo solution for dynamic high*/
.expanded {
    height: 200px;
}
.page-header{
    margin: 0;
}

.boxWithNotes {
    margin: 0;
    height: 100%;
    width: 100%;
    overflow: hidden;
    background: transparent;
}
